{% extends 'TerrificComposerBundle::basedialog.html.twig' %}

{% block content %}

<div class="content no-sidebar">
    <form novalidate="novalidate" action="#" method="get">
        <input type="text" placeholder="Search" class="search" />
    </form>
    <ul class="results">
        {% for result in results %}
            {% if result.type == 'module'  %}
                <li data-search="module {{ result.name }}"><a href="{{ path('composer_module_details', { 'module': result.name })}}" class="icon module"><span>{{ result.name }}</span></a></li>
            {% elseif result.type == 'page' %}
                <li data-search="page {{ result.name }}"><a href="{{ result.url }}" class="icon page"><span>{{ result.name }}</span></a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <span class="loader"><img src="{{ asset('bundles/terrificcomposer/img/loader.gif') }}" alt="" /></span>
</div>

{% endblock %}

