{% extends 'TerrificCoreBundle::base.html.twig' %}

{% block composition %}
    <form action="{{ path('composer_create_page') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_row(form.namespace) }}
        {{ form_row(form.name) }}

        {{ form_rest(form) }}

        <input type="submit" />
    </form>
{% endblock %}

