{% stylesheets
        'bundles/terrificcomposer/css/*'
        filter="cssrewrite"
        output="css/compiled/terrificcomposer.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% javascripts
              'bundles/terrificcomposer/js/*'
              output='js/compiled/terrificcomposer.js'
           %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
<div class="mod modComposerToolbar" data-connectors="666">
    <ul>
        <li><a href="{{ path('composer_create_module')}}" class="icon create"><span>Create</span></a></li>
        <li><a href="{{ path('composer_search')}}" class="icon open"><span>Open</span></a></li>
        {% if configurator %}
            <li><a href="#config" class="icon config"><span>Config</span></a></li>
        {% endif %}
        <li class="last"><a href="#inspect" class="icon inspect"><span>Inspect</span></a></li>
    </ul>
</div>
{% if configurator %}
<div class="mod modComposerTool" data-connectors="666">
    {% include 'TerrificComposerBundle::Module/configure.html.twig' with {'module' : module} %}
</div>
{% endif %}
<span class="composerLoader"><img src="{{ asset('bundles/terrificcomposer/images/loader.gif') }}" alt="" /></span>
<div class="composerModal">
    <div class="overlay">
        <div class="dialog"></div>
        <a title="close" href="#close"><span>Close</span></a>
    </div>
</div>


